*{
    margin: 0;
    padding: 0;
}

#app,html, body{
    height: 100%;
    min-width: 1366px;
}



.icon-weibiaoti562,icon-tianchongxing-{
    font-size: 20px;
}

.el-breadcrumb{
    margin-bottom: 20px;
}

.el-table{
    margin-top: 15px;
}

.el-pagination{
    margin-top: 15px;
}
